<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Klevu\Content\Model\ContentInterface" type="Klevu\Content\Model\Content"/>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="klevuContentSync" xsi:type="object">Klevu\Content\Console\Command\SyncContentCommand</item>
            </argument>
        </arguments>
    </type>
</config>

